@import "../../sass/global.module.scss";

.container
{
    width: 100%;
    min-height: 100vh;
    margin-top: 65px;
    font-family: $myfont;
    overflow:hidden;
    background-color:rgba(221, 221, 221, 0.194);
    .containerFilter
    {
        width: 100%;
        height: 150px;
        // background-color: cadetblue;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // background-color:rgba(221, 221, 221, 0.194);
        // padding-left: 50px;
        @media(max-width: 700px)
        {
            flex-direction:column;
            justify-content: center;
            height: 300px;
        }
        select
        {
            width: 27%;
            height: 50px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.145)  ;
            color: rgb(95, 93, 93);
            cursor: pointer;
            font-family: $myfont;
            @media(max-width: 700px)
            {
                width: 80%;
                margin-bottom: 30px;
            }
            option
            {
                font-family: $myfont;
            }
        }
        .containerSelectALl
        {
            width: 27%;
            height: 46px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.145)  ;
            color: rgb(95, 93, 93);
            display:flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            @media(max-width: 700px)
            {
                width: 80%;
            }
            label
            {
                margin-left: 20px;
            }
            input
            {
                cursor: pointer;
            }
        }
    }
    .containerBox
    {
        width: 100%;
        min-height: 100vh;
        display: flex;
        margin-left: 3px;
        margin-bottom: 20px; 
        @media(max-width:900px)
        {
            flex-direction: column;
            align-items: center;
        }
        .containerLeftBox
        {
            width: 27%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            // background-color:rgba(221, 221, 221, 0.194);
            padding-top: 1.5%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0px; /* Set the width of the scrollbar */
              }
            @media(max-width:1200px)
            {
                width: 35%;
            }
            @media(max-width:900px)
            {
                width: 95%;
            }
           .boxUser
           {
            width: 90%;
            height: 160px;
            border-radius: 10px;
            background-color: white;
            border: 0.5px solid rgb(173, 173, 173);
            margin-bottom: 20px;
            cursor: pointer;
            transition: 0.5s all;
            &:hover{
                background-color: $pColor3;
                .topPartProfile
                {
                    .containerName
                    {
                        span{
                            color: white;
                        }
                    }
                }
                .bottomPartProfile
                {
                    .containerImg
                    {
                        .icon
                        {
                            color: white;
                        }
                    }
                    .containerDesctiption
                    {
                        span{
                            color:white;
                        }
                    }
                }
            }
            .topPartProfile
            {
                width: 100%;
                height: 80px;
                display: flex;
                .containerImg
                {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img
                    {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        @media(max-width: 900px)
                        {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
                .containerName
                {
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                   span
                   {
                    margin-bottom: 10px;  
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;  
                   }
                   .name
                   {
                    font-size: 14px;
                    color: $hoverR;
                   }
                   .specific
                   {
                    font-weight: bold;
                    color: $pColor1;
                    font-size: 14px;
                   }
                }
            }
            .bottomPartProfile
            {
                width: 100%;
                height: 80px;
                display: flex;
                .containerImg
                {
                    width: 25%;
                    display: flex;
                    // justify-content: flex-end;
                    justify-content: center;
                    align-items: center;
                    .icon
                    {
                        font-size: 25px;
                        border-radius: 50%;
                        // margin-right: 20px;
                        color: $hoverR;
                        @media(max-width:900px)
                        {
                            font-size: 35px;
                        }
                    }
                }
                .containerDesctiption
                {
                    width: 73%;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background-color: red;
                    .desc
                    {
                        font-size: 13px;
                        color: rgba(0, 0, 0, 0.724);
                        height: 70px;
                        overflow: hidden;
                        word-break:break-all;
                        text-align: justify;
                        &::-webkit-scrollbar {
                            width: 0px; /* Set the width of the scrollbar */
                        }
                    }
                }
            }
           }
        }
        .containerRightBox
        {
            width: 75%;
            min-height: 100vh;
            padding-top: 1.5%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width:1200px)
            {
                width: 65%;
            }
            @media(max-width:900px)
            {
                width: 95%;
            }
            .insideContainerRight
            {
                width: 90%;
                height: 100vh;
                border-radius: 10px;
                background-color: white;
                margin-bottom: 40px;
                overflow: hidden;
                .containerTitel
                {
                    height: 80px;
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid rgba(208, 208, 208, 0.358);
                    .containerImg
                    {
                        width: 10%;
                        height: 100%;
                        @media(max-width: 1200px)
                        {
                            width: 15%;
                        }
                        // background-color: yellow;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
                    }
                    .containerName
                    {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        .name
                        {
                            font-size: 14px;
                            color: $hoverR;
                            margin-top: 5px;
                            // margin-bot   tom: 1px;
                        }
                        .specific
                        {
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
                .containerTitleMessage
                {
                    min-height: 200px;
                    // background-color: red;
                    overflow: hidden;
                    padding-left: 20px;
                    border-bottom: 2px solid rgba(208, 208, 208, 0.358);
                    flex-wrap: wrap;
                    
                    .containerExamples
                    {
                        display: flex;
                        width: 100%;
                        cursor: pointer;
                        @media(max-width:650px)
                        {
                            flex-direction: column;
                            // justify-content: center;
                            // align-items: center;
                            // background-color: red;
                        }
                        .boxExample
                        {
                            width: 16%;
                            height: 70px;
                            transition: 0.5s all;
                            display: flex;
                            font-size: 13px;
                            margin-right: 30px;
                            @media(max-width:1200px)
                            {
                                width: 22%;
                                height: 70px;
                            }
                            @media(max-width:650px)
                            {
                                margin-bottom: 30px;
                                width: 95%;
                                justify-content: center;
                                align-items: center;
                                // margin: 0 auto;
                            }
                            &:hover
                            {
                                width: 15%;
                                height: 65px;
                                @media(max-width:1200px)
                                {
                                &:hover
                                {
                                    height: 65px;
                                    width: 20%;
                                }
                                }
                                @media(max-width:650px)
                                {
                                &:hover
                                {
                                    width: 90%;
                                    height: 60px;
                                }
                                }
                            }
                            .containerIcon
                            {
                                width: 40%;
                                height:100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: $pColorR;
                                border-top-left-radius: 10px;
                                border-bottom-left-radius: 10px;
                                transition: 0.5s all;
                                border-top: 2px solid rgba(204, 204, 204, 0.385);
                                border-left: 2px solid rgba(204, 204, 204, 0.385);
                                border-bottom: 2px solid rgba(204, 204, 204, 0.385);
                                @media(max-width:650px)
                                {
                                    width: 20%;

                                }
                                .icon
                                {
                                    font-size: 30px;
                                    color: white;
                                }
                            }
                            .containerType
                            {
                                width: 60%;
                                height: 98%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-top: 2px solid rgba(204, 204,    204, 0.385);
                                border-right: 2px solid rgba(204, 204, 204, 0.385);
                                border-bottom: 2px solid rgba(204, 204, 204, 0.385);
                                border-top-right-radius: 10px;
                                border-bottom-right-radius: 10px;
                                transition: 0.5s all;
                                padding: 1px;
                                p
                                {
                                    font-weight: bold;
                                    text-align: center;
                                    @media(max-width:1000px)
                                    {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                .containersendM
                {
                    height: 100%;
                    width: 100%;
                    background-color: red;
                    .containerSenders
                    {
                        width: 100%;
                        min-height: 70px;
                        // background-color: yellow;
                        border-bottom: 2px solid  rgba(208, 208, 208, 0.358);
                        display: flex;
                        .part1
                        {
                            width: 7%;
                            background-color: yellow;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}