@import "../../sass/global.module.scss";

.container
{
    width: 100%;
    min-height: 100vh;
    margin-top: 65px;
    font-family: $myfont;
    overflow:hidden;
    background-color:rgba(221, 221, 221, 0.194);
    .containerFilter
    {
        width: 100%;
        height: 150px;
        // background-color: cadetblue;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // background-color:rgba(221, 221, 221, 0.194);
        // padding-left: 50px;
        @media(max-width: 700px)
        {
            flex-direction:column;
            justify-content: center;
            height: 300px;
        }
        select
        {
            width: 27%;
            height: 50px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.145)  ;
            color: rgb(95, 93, 93);
            cursor: pointer;
            font-family: $myfont;
            @media(max-width: 700px)
            {
                width: 80%;
                margin-bottom: 30px;
            }
            option
            {
                font-family: $myfont;
            }
        }
        .containerSelectALl
        {
            width: 27%;
            height: 46px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.145)  ;
            color: rgb(95, 93, 93);
            display:flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 700px)
            {
                width: 80%;
            }
            label
            {
                margin-left: 20px;
            }
            input
            {
                cursor: pointer;
            }
        }
    }
    .containerBox
    {
        width: 100%;
        height: 100vh;
        display: flex;
        margin-left: 3px;
        padding-bottom: 20px;
        margin-bottom: 100px;

        .containerLeftBox
        {
            width: 27%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            // background-color:rgba(221, 221, 221, 0.194);
            padding-top: 1.5%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0px; /* Set the width of the scrollbar */
              }
           .boxUser
           {
            width: 90%;
            height: 160px;
            border-radius: 10px;
            background-color: white;
            border: 0.5px solid rgb(173, 173, 173);
            margin-bottom: 20px;
            cursor: pointer;
            transition: 0.5s all;
            &:hover{
                background-color: $pColor3;
                .topPartProfile
                {
                    .containerName
                    {
                        span{
                            color: white;
                        }
                    }
                }
                .bottomPartProfile
                {
                    .containerImg
                    {
                        .icon
                        {
                            color: white;
                        }
                    }
                    .containerDesctiption
                    {
                        span{
                            color:white;
                        }
                    }
                }
            }
            .topPartProfile
            {
                width: 100%;
                height: 80px;
                display: flex;
                .containerImg
                {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img
                    {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
                .containerName
                {
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                   span
                   {
                    margin-bottom: 10px;  
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;  
                   }
                   .name
                   {
                    font-size: 14px;
                    color: $hoverR;
                   }
                   .specific
                   {
                    font-weight: bold;
                    color: $pColor1;
                    font-size: 14px;
                   }
                }
            }
            .bottomPartProfile
            {
                width: 100%;
                height: 80px;
                display: flex;
                .containerImg
                {
                    width: 25%;
                    display: flex;
                    // justify-content: flex-end;
                    justify-content: center;
                    align-items: center;
                    .icon
                    {
                        font-size: 25px;
                        border-radius: 50%;
                        // margin-right: 20px;
                        color: $hoverR;
                    }
                }
                .containerDesctiption
                {
                    width: 73%;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background-color: red;
                    .desc
                    {
                        font-size: 13px;
                        color: rgba(0, 0, 0, 0.724);
                        height: 70px;
                        overflow: hidden;
                        &::-webkit-scrollbar {
                            width: 0px; /* Set the width of the scrollbar */
                        }
                    }
                }
            }
           }
        }
        .containerRightBox
        {
            width: 75%;
            min-height: 100vh;
            padding-top: 2.8%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .insideContainerRight
            {
                width: 90%;
                height: 100vh;
                border-radius: 10px;
                background-color: white;
                margin-bottom: 40px;
                .containerTitel
                {
                    height: 80px;
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid rgba(208, 208, 208, 0.358);
                    .containerImg
                    {
                        width: 10%;
                        height: 100%;
                        // background-color: yellow;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
                    }
                    .containerName
                    {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        .name
                        {
                            font-size: 14px;
                            color: $hoverR;
                            margin-top: 5px;
                            // margin-bot   tom: 1px;
                        }
                        .specific
                        {
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
                .containerTitleMessage
                {
                    height: 200px;
                    background-color: red;
                    overflow: hidden;
                    padding-left: 20px;
                    .containerExamples
                    {
                        display: flex;
                        .boxExample
                        {
                            width: 20%;
                            height: 80px;
                            background-color: yellow;
                            display: flex;

                            .containerIcon
                            {
                                width: 40%;
                                height: 80px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: beige;
                                
                            }
                            .containerType
                            {
                                width: 60%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
                
            }
        }
    }
}