@import "../../sass/global.module.scss";
@import 'mathsass';

@mixin title-style
{
    .containerTitle
    {
        width: 40%;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
        height: 50px;
        @media(max-width:768px)
        {
            width: 80%;
        }
        @media(max-width:328px)
        {
            width: 90%;
        }
        .iconFolder
        {
            font-size: 30px;
            color: $pColorR;
        }
        p
        {
            margin-left: 10px;
            font-weight: bold;
        }
    }
}

.container
{
    background-color:#f7f7f7;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: $myfont;
    padding-left:80px;
    padding-right:80px;

    // background-color: red;
    @media(max-width:1250px)
    {
        padding-left:10px;
        padding-right:10px;
    }
    @media(max-width:950px)
    {
        padding-left:10px;
        padding-right:10px;
    }
    @media (max-width:580px)
    {
        padding-left: 15px;
        padding-right: 10px;
    }
    .containerAddUser
    {
        // background-color: red;
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px; 
        @include title-style();
        .containerTitle{
            margin-bottom: 70px;
        }
        .containerForm
        {
            width: 100%;
            
            // background-color: red;
            display: flex;
            justify-content: space-around;
            @media(max-width:768px)
            {
                flex-direction: column;
                align-items: center;
            }
            .forms
            {
                min-height: 500px;
                width: 40%;
                background-color: white;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                display: flex;
                flex-direction: column;
                align-items: center ;
                padding-top: 40px;
                @media(max-width:1400px)
                {
                    width: 45%;
                }
                @media(max-width:768px)
                {
                    width: 70%;
                    margin-bottom: 50px;
                }
                @media(max-width:530px)
                {
                    width: 93%;
                }
                @media(max-width:300px)
                {
                    width: 100%;
                }
                @include title-style();
                .containerTitle
                {
                    margin-bottom: 80px;
                    width: 60%;
                    @media(max-width:570px)
                    {
                        width: 80%;
                    }
                }
                form
                {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    // background-color: red;
                    width: 100%;
                }
                input, label, select
                {
                    width: 70%;
                    height: 40px;
                    margin-bottom: 25px;
                    border: 1px solid #9f9f9f;
                    padding-left: 15px;
                    border-radius: 5px;
                    &:focus
                    {
                        outline: none;
                    }
                }
                label
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $pColor3;
                    color: white;
                    font-size: 13px;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 5px;
                    transition: 0.5s all;
                    &:hover
                    {
                        width: 71%;
                        height: 43px;
                    }
                }
                .errorSize
                {
                    color: red;
                    margin-bottom: 20px;
                }
                button
                {
                    margin-bottom: 30px;
                    width: 74%;
                    height: 40px;
                    border: 1px solid black;
                    background-color: $pColor3;
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.5s all;
                    &:hover
                    {
                        width: 75%;
                        height: 43px;
                    }
                }
                select{
                    cursor: pointer;
                }
                .choice
                {
                    color: green;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .containerGroups
    {
        width: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        @include title-style();
        .containerSelect
        {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-around;
            // background-color: red;
            select
            {
                width: 35%;
                height: 40px;
                border: 1px solid #9f9f9f;
                padding-left: 15px;
                border-radius: 5px;
                &:focus
                {
                    outline: none;
                }
            }
        }
    }
    .containerTable
    {
        width:100%;
        min-height: 600px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        overflow-y: scroll;
        overflow-x: scroll;
        border-radius: 20px;
        margin-bottom: 120px;
        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
            transition: 0.5s all;
           
            /* Customize the scrollbar track color */
            }
        table {
            font-family: $myfont;
            border-collapse: collapse;
            width: 100%;
            @media (max-width: 700px)
            {
                .displayNone
                {
                    display: none;
                }
            }
            th
            {
                height: 50px;
            }
            td
            {
                height: 30px;
            }
            button
            {
                // width: 50%;
                // height: 35px;
                padding: 12px;
                border-radius: 10px;
                border: none;
                border: 1px solid rgb(152, 152, 152);
                background-color: #2a2d38c6;
                color: white;
                font-family: $myfont;
                cursor: pointer;
                transition: 0.5s all;
                &:hover
                {
                    background-color: #2a2d38f6;
                }
            }
            input
            {
                width: 180px;
                height: 28px;
                font-family: $myfont;
                &:focus
                {
                    outline: none;
                }
            }
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            text-align: center;
            padding: 8px;
            // background-color: white;
            @media (max-width: 500px)
            {
                padding: 1px;
            }
          }
          
          tr:nth-child(even) {
            // background-color: $hoverR;
            background-color: $pColorR;
          }
          .trHover
          {
            transition: 0.5s all;
            &:hover
            {
                background-color: $hoverR;
                cursor: pointer;
            }
          }
          .img
          {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
    }
}
.validUpdatePyment
{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.326);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    opacity: 1;
    font-family: $myfont;
    .confirmation
    {
        width: 450px;
        height: 150px;
        background-color: $pColor1;
        border-radius: 10px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $myfont;
        p{
            margin-top: 40px;
            margin-bottom: 30px;
            font-size: 15px;
        
        }
    }
    .containerInput
    {
        width: 350px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        input
        {
            width: 100px;
            height: 35px;
            background-color: $hoverR;
            border: 1px solid black;
            border-radius: 5px;
            cursor: pointer;
            font-family: $myfont;
            color: white;
            transition: 0.5s all;
            &:hover
            {
                background-color: white;
                color: black;
            }
        }
    }
}
.validUpdatePymentNone
{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.326);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    .containerInput
    {
        width: 350px;
        height: 150px;
        background-color: black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        input
        {
            width: 80px;
            height: 30px;
            background-color: red;
        }
    }
    opacity: 0;
    display: none;

}