@import "../../sass/global.module.scss";
@import 'mathsass';

@mixin title-style
{
    .containerTitle
    {
        width: 40%;
        // background-color: yellow;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
        @media(max-width:768px)
        {
            width: 80%;
        }
        @media(max-width:328px)
        {
            width: 90%;
        }
        .iconFolder
        {
            font-size: 30px;
            color: $pColorR;
        }
        p
        {
            margin-left: 10px;
            font-weight: bold;
        }
    }
}
@mixin selects-style
{
    .containerInputs
        {
            width: 100%;
            min-height: 100px;
            display: flex;
            justify-content: space-around;
            // align-items: center;
            @media (max-width:550px) {
                flex-direction: column;
                align-items: center;
            }
            select
            {
                width: 30%;
                height: 50px;
                font-family: $myfont;
                border: 1px solid #dddddd;
                cursor: pointer;
                @media(max-width:550px)
                {
                    width: 70%;
                    margin-bottom: 20px;
                }
            }
            select:last-child
            {
                margin-bottom: 40px;
            }
            // background-color: rgb(182, 125, 125);
        }
}

.container
{
    background-color:#f7f7f7;
    // background-color: red;   
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: $myfont;
    padding-left:80px;
    padding-right:80px;

    // background-color: red;
    @media(max-width:1250px)
    {
        padding-left:10px;
        padding-right:10px;
    }
    @media(max-width:950px)
    {
        padding-left:10px;
        padding-right:10px;
    }
    @media (max-width:580px)
    {
        padding-left: 15px;
        padding-right: 10px;
    }
    .containerValidateProject
    {
        width: 100%;
        min-height: 200px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        margin-bottom: 50px;
        @include title-style();
        @include selects-style();
    }
    .containerSellectAll
    {
        min-height: 100px;
        width: 100%;
        margin-bottom: 50px;
        border-radius: 20px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width:550px)
        {
            flex-direction: column;
            min-height: 140px;
            width: 100%;
        }
        .select
        {
            width: 50%;
            display: flex;
            // justify-content: center;
            align-items: center;
            @media(max-width:550px)
            {
                margin-bottom: 20px;
            }
            p
            {
                margin-left: 200px;
                @media(max-width:1200px)
                {
                    margin-left: 80px;
                }
                @media(max-width: 550px)
                {
                    margin-left: 0;
                }
            }
            input
            {
                margin-left: 30px;

            }
        }
        .valid
        {
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media(max-width:550px)
            {
                margin-bottom: 20px;
                width: 100%;
            }
            button
            {
                width: 40%;
                height: 40px;
                border: none;
                color: white;
                background-color: #2a2d38c6;
                border-radius: 10px;
                font-family: $myfont;
                cursor: pointer;
                transition: 0.5s all;
                &:hover
                {
                    background-color: #2a2d38f6;
                    height: 43px;
                    width: 42%;
                }
                // @media(max-width: 1000px)
                // {
                //     width: 60%;
                // }
            }
        }
    }
    .containerTable
    {
        width:100%;
        min-height: 600px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        overflow-y: scroll;
        overflow-x: scroll;
        border-radius: 20px;
        margin-bottom: 120px;
        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
            transition: 0.5s all;
           
            /* Customize the scrollbar track color */
            }
        table {
            font-family: $myfont;
            border-collapse: collapse;
            width: 100%;
            @media (max-width: 700px)
            {
                .displayNone
                {
                    display: none;
                }
            }
            th
            {
                height: 50px;
            }
            td
            {
                height: 30px;
            }
            button
            {
                // width: 50%;
                // height: 35px;
                padding: 12px;
                border-radius: 10px;
                border: none;
                border: 1px solid rgb(152, 152, 152);
                background-color: #2a2d38c6;
                color: white;
                font-family: $myfont;
                cursor: pointer;
                transition: 0.5s all;
                &:hover
                {
                    background-color: #2a2d38f6;
                }
            }
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            text-align: center;
            padding: 8px;
            // background-color: white;
            @media (max-width: 500px)
            {
                padding: 1px;
            }
          }
          
          tr:nth-child(even) {
            // background-color: $hoverR;
            background-color: $pColorR;
          }
          .trHover
          {
            transition: 0.5s all;
            &:hover
            {
                background-color: $hoverR;
                cursor: pointer;
            }
          }
          .img
          {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
    }
    .containerLinkProjectValid
    {
        width: 100%;
        min-height: 500px;
        // background-color: white;
        border-radius: 20px;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include title-style();
       
        .containerChooseGroupProject
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            min-height: 200px;
            padding-top: 40px;
            border-radius: 20px;
            box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin-bottom: 50px;
            @include selects-style();
            
        }
        .containerLinks
        {
            width: 100%;
            min-height: 500px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            // border-radius: 20px;
            display: flex;
            // background-color: red;
            @media(max-width:950px)
            {
                flex-direction: column;
            }
            .partStudents
            {
                width: 30%;
                height: 400px;
                overflow: hidden;
                @media(max-width:950px)
                {
                    width: 100%;
                }
                .containerTitles
                {
                    width: 100%;
                    border-top-left-radius: 20px;
                    height: 50px;
                    background-color: $pColor3;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (max-width:950px)
                    {
                        border-top-right-radius: 20px;
                    }
                }
                .allStudent
                {
                    height: 100%;
                    overflow-y: scroll;
                    .eachStudent
                    {
                        width: 100%;
                        height: 80px;
                        display: flex;
                        cursor: pointer;
                        transition: 0.5s all;
                    }
                    .eachStudentWhite
                    {
                        width: 100%;
                        height: 80px;
                        display: flex;
                        cursor: pointer;
                        transition: 0.5s all;
                    }
                    .containerImg
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        img
                        {
                            width: 50px;
                            border-radius: 50%;
                        }
                    }
                    .containerName
                    {
                        width: 50%;
                        display: flex;
                        justify-self: center;
                        align-self: center;
                        text-align: center;
                    }
                    .containerVlidate
                    {
                        width: 35%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // background-color: red;
                        button
                        {
                            height: 30px;
                            width: 80px;
                            border-radius: 5px;
                            cursor: pointer;
                            color: white;
                            background-color: $pColor3;
                            border: none;
                            transition: 0.5s all;
                            &:hover
                            {
                                background-color: #2a2d38cc;
                            }
                            @media (max-width:1020px)
                            {
                                height: 35px;
                            }
                        }
                    }
                }
            }
            .partLinks
            {
                width: 70%;
                min-height: 400px;
                @media(max-width:950px)
                {
                    width: 100%;
                }
                // overflow: hidden;
                // background-color: red;
                .containerTitles
                {
                    width: 100%;
                    border-top-right-radius: 20px;
                    height: 50px;
                    background-color: $pColor1;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media(max-width:950px)
                    {
                        border-top-right-radius: 0px;
                        // border-top-left-radius: 20px;
                    }
                }
                .allLinks
                {
                   width: 100%;
                   height: 400px;
                   background-image: url(../../imgs/binary_level.jpg);
                   background-position: center;
                   background-repeat: no-repeat;
                   background-size: cover;
                   overflow-y: scroll;
                   overflow-x: hidden;
                   padding-top: 50px;
                   color : white;
                   
                   .ContainerMessageStudent
                   {
                        width: 100%;
                        margin-bottom: 50px;
                        overflow: hidden;
                        padding-left: 20px;
                        .message
                        {
                            width: 80%;
                            height: 50px;
                            background-color: $pColorR;
                            border-radius: 20px;
                            color: white;
                            // margin-left: 20px;
                            display: flex;
                            align-items: center;
                            padding-left: 20px;
                        }
                        .time
                        {
                            font-weight: bold;
                        }
                   }
                   .ContainerMessageTeacher
                   {
                        width:100%;
                        margin-bottom: 50px;
                        display: flex;
                        align-items:end;
                        flex-direction: column;
                        overflow: hidden;
                        .time2
                        {
                            margin-right: 25px;
                            font-weight: bold;
                        }
                        .message
                        {
                            width: 80%;
                            height: 50px;
                            background-color: $pColorR;
                            border-radius: 20px;
                            color: white;
                            margin-right: 20px;
                            display: flex;
                            align-items: center;
                            padding-left: 20px;
                        }
                   }
                }
            }
        }
    }
    .containerResponse
    {
        width: 100%;
        min-height: 160px;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 1px solid $pColorR;
        
        .coloumnForm
        {
            width: 100%;
            display: flex;
            // justify-content: center;
            // align-items: center;
            min-height: 120px;
            // background-color: red;
        }
        .containerInput
        {
            width: 90%;
            display: flex;
            justify-content: end;
            align-items: center;
            flex-direction: column;
            input
            {
                width: 90%;
                height: 40px;
                padding-left: 20px;
                font-family: $myfont;
                border: 1px solid $pColorR;
                &:focus
                {
                    outline: none;
                }
                @media(max-width:700px)
                {
                    width: 80%;
                }
            }
            @media(max-width:700px)
            {
                width: 80%;
            }
        }
        .containerIcone
        {
            // background-color: red;
            width: 10%;
            display: flex;
            justify-content: start;
            align-items: end;
            .cercleOutSideIcone
            {
                width: 50px;
                height: 50px;
                background-color: #2a2d38e8;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.5s all;
                &:hover
                {
                    background-color: #20222bf7;
                    .icone
                    {
                        color: white;
                    }
                }
                .icone
                {
                    font-size: 22px;
                    color: $pColorR;
                    transition: 0.5s all;
                    @media(max-width:300px)
                    {
                        font-size: 18px;
                    }
                }
            }
            @media(max-width:400px)
            {
                width: 15%;
            }
            @media(max-width:300px)
            {
                width: 17%;
            }
            
        }
        p
        {
            text-align: center;
        }
    }
    .parentValidConversation
    {
        background-color: #d7d6d6f6;
        display: flex;
        transition: 0.5s all;
        &:hover
        {
            background-color: $pColorR;
        }
    }
    .parentValidConversation2
    {
        background-color: white;
        display: flex;
        transition: 0.5s all;
        &:hover
        {
            background-color: $pColorR;
        }
    }
}