@import "../../sass/global.module.scss";

.container
{
    width: 100%;
    min-height: 100vh;
    margin-top: 65px;
    font-family: $myfont;
    // overflow:hidden;
    
    .containerFilter
    {
        width: 100%;
        height: 90px;
        // background-color: cadetblue;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // padding-left: 50px;
        @media(max-width: 700px)
        {
            flex-direction:column;
            justify-content: center;
            height: 300px;
        }
        select
        {
            width: 25%;
            height: 50px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.145)  ;
            color: rgb(95, 93, 93);
            cursor: pointer;
            font-family: $myfont;
            @media(max-width: 700px)
            {
                width: 80%;
                margin-bottom: 30px;
            }
            option
            {
                font-family: $myfont;
            }
        }
        .containerSelectALl
        {
            width: 25%;
            height: 46px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.145)  ;
            color: rgb(95, 93, 93);
            display:flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 700px)
            {
                width: 80%;
            }
            label
            {
                margin-left: 20px;
            }
            input
            {
                cursor: pointer;
            }
        }
    }
    .containerBox
    {
        width: 100%;
        min-height: 100vh;
        background-color: white;
        display: flex;
        .containerLeftBox
        {
            background-color: red;
            width: 20%;
            min-height: 100vh;
        }
        .containerRightBox
        {
            background-color: yellow;
            width: 80%;
            min-height: 100vh;
        }
    }
}