@import "./global.module.scss";
@import 'mathsass';


.container
{
    display: flex;
    .navbar
    {
        width: 70px;
        min-height: 100vh;
        display: inline;
        @media (max-width: 370px)
        {
            width: 0;
        }
    }
    .nextNav
    {
        width: 100vw;
    }
}