@import "./global.module.scss";
@import 'mathsass';

.twoButton
{
    display: flex;
    // background-color: red;
    width: 70%;
    justify-content: space-around;
    @media (max-width: 500px)
    {
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        height: 90px;
    }
    button
    {
        width: 50%;
    }
}

.displayAlert
{
    height: 100vh;
    width: 100%;
    background-color: #2a2d383b;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $myfont;
    transition: 0.5s all;
    opacity: 1;
    color: white;
    .alReady
    {
        width: 500px;
        height: 160px;
        background-color: $pColor1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        text-align: center;
        flex-direction: column;
        @media (max-width: 500px)
        {
            width: 300px;
        }
        @media (max-width: 300px)
        {
            width: 250px;
        }
        p{
            margin-bottom: 40px;
            @media (max-width: 500px)
            {
                margin-bottom: 20px;
            } 
        }
        button
        {
            width: 120px;
            height: 35px;
            border: 1px solid $pColor3;
            background-color: $hoverR;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            transition: 1s all;
            &:hover{
                background-color: white;
                border: 1px solid $pColor3;
                color: $pColor3;
            }
        }
    }
}
.displayAlert2
{
    height: 100vh;
    width: 100%;
    background-color: #2a2d383b;
    position: fixed;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $myfont;
    transition: 0.5s all;
    top: 0px;
    // display: none;
    color: white;
    visibility: hidden;
    opacity: 0;
    
    .alReady
    {
        width: 500px;
        height: 160px;
        background-color: $pColor1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        text-align: center;
        flex-direction: column;
        @media (max-width: 500px)
        {
            width: 300px;
        }
        @media (max-width: 300px)
        {
            width: 250px;
        }
        p{
            margin-bottom: 40px;
            @media (max-width: 500px)
            {
                margin-bottom: 20px;
            } 
        }
        button
        {
            width: 120px;
            height: 35px;
            border: 1px solid $pColor3;
            background-color: $hoverR;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            // transition: 1s all;
            &:hover{
                background-color: white;
                border: 1px solid $pColor3;
                color: $pColor3;
            }
        }
    }
}

.container
{
    background-color:#f7f7f7;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: $myfont;
    .containerTitlePage
    {
        width: 85%;
        height: 60px;
        margin-bottom: 70px;
        background-color: $pColor1;
        color: $pColorR;
        display: flex;
        // justify-content: center;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        @media (max-width:700px)
        {
            width: 80%;
        }
        @media (max-width:320px)
        {
            width: 75%;
        }
        .iconEvent
        {
            font-size: 25px;
        }
        p
        {
            margin-left: 20px;
            font-weight: bold;
            width: 92%;
        }
        .iconDown
        {
            font-size: 25px;
        }
    }
    .containerEvent
    {
        width: 80%;
        min-height: 200px;
        background-color: white;
        display: flex;
        border-radius: 20px;
        margin-bottom: 50px;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        @media (max-width:1000px)
        {
            width: 90%;
        }
        @media (max-width:650px)
        {
            flex-direction: column;
            height: 500px;
        } 
        @media(max-width:500px)
        {
            min-height: 550px;
        }
        @media (max-width:400px)
        {
            width: 95%;
        }
        .date
        {
            width: 20%;
            // height: 100%;
            background-color: $pColor3;
            display: flex;
            // justify-content: center;
            color: white;
            border-top-left-radius: 20px;
            border-end-start-radius: 20px;
            flex-direction: column;
            @media (max-width: 1300px)
            {
                width: 30%;
            }
            @media (max-width:650px)
            {
                width: 100%;
                border-end-start-radius: 0px;
                border-top-right-radius: 20px;
            }
            .number
            {
                font-size: 50px;
                font-weight: bold;
                height: 100%;
                width: 100%;
                text-align: center;
                // background-color: red;
                border-top-left-radius: 20px;
                // @media (max-width:650px)
                // {
                //     // height: 50%;
                //     width: 100%;
                //     text-align: center;
                //     padding-top: 50px;
                // }
            }
            .month
            {
                height: 200%;
                // margin-top: -50px;
                color: $pColorR;
                font-weight: bold;
                border-end-start-radius: 20px;
                width: 100%;
                text-align: center;
                background-color: #fef8bd;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width:650px)
                {
                    width: 100%;
                    border-end-start-radius: 0px;
                }
            }
        }
        .description
        {
            padding-left: 30px;
            width: 80%;
            text-align: justify;
            padding-right: 30px;
            @media (max-width: 1300px)
            {
                width: 70%;
            }
            @media (max-width: 650px)
            {
                width: 88%;
            }
            @media (max-width:400px)
            {
               text-align: left;
               padding-right: 5px;
            }
            .parentTimeButton
            {
                display: flex;
                align-items: center;
                width: 100%;
                @media(max-width:650px)
                {
                    justify-content: center;
                }
                @media(max-width:500px)
                {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .containerButton
                {
                    // background-color: #fef8bd;
                    width: 160px;
                    height: 50px;
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    margin-left: 20px;
                    @media(max-width:500px)
                    {
                        width: 80%;
                        margin-left: 0px;
                    }
                    button{
                        width: 100%;
                        height: 46px;
                        background-color:$hoverR;
                        border: none;
                        color: white;
                        font-family: $myfont;
                        cursor: pointer;
                        transition: 0.5s all;
                        border-radius: 20px;
                        @media(max-width:500px)
                        {
                            height: 50px;
                        }
                        &:hover
                        {
                            background-color: #036d6e;
                        }
                    }
                }
            }
            .title
            {
                margin-left: 0px;
                font-size: 25px;
                font-weight: bolder;
                color: $pColorR;
            }
            .containerTime
            {
                background-color: #fef8bd;
                width: 17%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                margin-bottom: 30px;
                @media (max-width: 1300px)
                {
                    width: 25%;
                }
                @media (max-width: 890px)
                {
                    width: 40%;
                }
                @media (max-width:550px)
                {
                   width: 60%;
                }
                @media (max-width:400px)
                {
                   width: 80%;
                }
                .icon
                {
                    font-size: 30px;
                    color: $hoverR;
                }
                p
                {
                    margin-left: 10px;
                    color: $hoverR;
                    font-weight: bold;
                }
            }
        }
    }
}


// 3imad wld 7aj depo bilmid  jay men tetouan ramouand de me7kama de5ol 3la yedek de limin machi chouk tma sa9si