@import "./global.module.scss";
@import 'mathsass';

@mixin item-styles
{
    width: 100%;
    height: 330px;
    background-color: white;
    border: 0.5px solid rgba(157, 157, 157, 0.125);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 30px;
    font-family: $myfont;
}
.container
{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(225, 225, 225, 0.11);
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    -webkit-tap-highlight-color: transparent;
    
    @media(min-width:2000px)
    {
        justify-content: center;
    }
    @media (max-width: 768px)
    {
        flex-direction: column;
        align-items: center;
    }
    .program
    {
        max-width: 1000px;
        width: 47%;
        @media (max-width: 768px)
        {
            width: 89%;
        }
        .itemsProgram
        {
            @include item-styles;
            border-radius: 10px !important;
            
            .contInsidProgram{
                // overflow-y: scroll;
                margin: 30px;
                .titleProgram
                {
                    display: flex;
                    p{
                        font-weight: bold;
                        font-size: 18px;
                        width: 90%;
                        margin-left: 10px;
                    }
                    .iconLanguage
                    {
                        width: 10%;
                        display: block;
                        font-size: 25px;
                        color: $pColorR;
                        font-weight: 100;
                        margin-top: 17px;
                    }
                }
                .UnderConatProgram
                {
                    margin-top: 30px;
                    padding-left: 20px;
                    // background-color: red;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    height: 175px;
                    ::-webkit-scrollbar{
                        width: 0;
                    }
                    .conatProItm
                    {
                        display: flex;
                        transition: 0.5s all;
                        cursor: pointer;
                        &:hover
                        {
                            background-color: rgba(208, 206, 206, 0.549);
                        }
                        p{
                            // background-color: aqua;
                            text-align: justify;
                            width: 86%;
                            padding-right: 10px;
                            padding-left: 20px;
                            line-height: 28px;
                        }
                        .TiHtml5
                        {
                            display: block;
                            // width: 7%;
                            font-size: 30px;
                            margin-top: 9px;
                            color: $pColorR;
                            // padding-left: 20px;
                        }
                        .TbHandClick
                        {
                            display: block;
                            font-size: 25px;
                            color: $pColorR;
                            margin-top: 13px;
                            // padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .events
    {
        max-width: 1000px;
        @media(min-width:2000px)
        {
            margin-left: 50px;
        }
        width: 47%;
        @media (max-width: 768px)
        {
            width: 89%;
        }
        .itemsEvents
        {
            @include item-styles;
            border-radius: 10px;
            .contInsidEvents
            {
                // overflow-y: scroll;
                margin: 30px;
                .titleEvents
                {
                    display: flex;
                    p{
                        font-weight: bold;
                        font-size: 18px;
                        width: 90%;
                        margin-left: 10px;
                    }
                    .iconTitle
                    {
                        width: 10%;
                        display: block;
                        font-size: 25px;
                        color: $pColorR;
                        font-weight: 100;
                        margin-top: 15px;
                    }
                }
                .UnderConatEvent
                {
                    margin-top: 30px;
                    overflow-y: scroll;
                    height: 180px;
                    scrollbar-width: none;
                    ::-webkit-scrollbar{
                        width: 0;
                    }

                    .conatEventItm
                    {
                        display: flex;
                        transition: 0.5s all;
                        cursor: pointer;
                        &:hover
                        {
                            background-color: rgba(208, 206, 206, 0.549);
                        }
                        p{
                            // background-color: aqua;
                            width: 86%;
                            padding-right: 10px;
                            padding-left: 20px;
                            // line-height: ;
                        }
                        .TiHtml5
                        {
                            display: block;
                            // width: 7%;
                            font-size: 30px;
                            margin-top: 9px;
                            color: $pColorR;
                            padding-left: 20px;
                        }
                        .TbHandClick
                        {
                            display: block;
                            font-size: 25px;
                            color: $pColorR;
                            margin-top: 13px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
    .link{
        text-decoration: none;
        color: black;
    }
    .par
    {
        padding-left: -20px;
    }
    .skills
    {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .readCharts
    {
        p
        {
            color: rgb(115, 115, 115);
        }
    }
    
}
.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-front {
    background-color: #e0e0e0;
  }
  
  .card-back {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  