@import "./global.module.scss";
@import 'mathsass';



.container
{
    background-color: #f7f7f7;
    min-height: 100vh;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $myfont;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    @media(max-width : 1300px)
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .containerTitlePage
    {
        width: 85%;
        height: 60px;
        margin-bottom: 70px;
        background-color: $pColor1;
        color: $pColorR;
        display: flex;
        // justify-content: center;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        @media (max-width:700px)
        {
            width: 80%;
        }
        @media (max-width:320px)
        {
            width: 75%;
        }
        .iconEvent
        {
            font-size: 25px;
        }
        p
        {
            margin-left: 20px;
            font-weight: bold;
            width: 92%;
        }
        .iconDown
        {
            font-size: 25px;
        }
    }
    @media(max-width:660px)
    {
        padding-left: 0;
        padding-right: 0;
    }
    .noUsers
    {
        font-size: 18px;
        // font-weight: bold;
    }
    .link
    {
        width: 70%;
        min-height: 300px;
        // background-color: red;
        display: flex;
        border-radius: 20px;
        margin-bottom: 60px;
        text-decoration: none;
        color: $pColor3;
        cursor: pointer;
    }
    .containerProfile
    {
        width: 100%;
        min-height: 300px;
        // background-color: red;
        display: flex;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 20px;
        margin-bottom: 60px;
        cursor: pointer;
        @media(max-width:1300px)
        {
            width: 200%;
        }
        @media(max-width:1000px)
        {
            width: 100%;
        }
        @media(max-width:938px)
        {
            flex-direction:column;
            width: 100%;
        }
        
        .containerImg
        {
            width: 300px;
            min-height: 300px;
            // background-color: antiquewhite;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 1100px)
            {
                width: 350px;   
            }
            @media(max-width:938px)
            {
                width: 100%;
                min-height: 300px;
                padding: 0;
            }
            @media(max-width:420px)
            {
                min-height: 200px;
                padding-top: 20px;
            }
            img
            {
                width: 280;
                height: 280px;
                border-radius: 50%;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                @media(max-width:938px)
                {
                    height: 250px;
                    width: 250px;
                }
                @media(max-width:480px)
                {
                    width: 200px;
                    height: 200px;
                }
                @media(max-width:380px)
                {
                    width: 190px;
                    height: 190px;
                }
                @media(max-width:320px)
                {
                    width: 170px;
                    height: 170px;
                }
            }
            
        }
        .containerInfo
        {
            width:70%;
            min-height: 300px;
            // background-color:darkblue;
            // border: 1px solid red;
            padding-left: 20px;
            @media(max-width: 1385px)
            {
                width: 60%;
            }
            @media(max-width:938px)
            {
                width: 100%;
            }
            @media(max-width: 480px)
            {
                padding-left: 0px;
                min-height: auto;
            }
            .name
            {
                font-size: 25px;
                font-weight: bold;
                text-align: justify;
                @media(max-width: 480px)
                {
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
            .login
            {
                @media(max-width: 480px)
                {
                    margin-left: 10px;
                }
            }
            .rectangul
            {
                width: 60%;
                min-height: 80px;
                background-color: #e5e5e5;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 15px;
                padding-bottom: 15px;
                border-radius: 15px;
                @media(max-width: 1385px)
                {
                    width: 90%;
                }
                @media(max-width: 550px)
                {
                    width: 90%;
                }
                @media(max-width: 480px)
                {
                    display: none;
                    width: 88%;
                    flex-direction: column;
                    margin: 0 auto;
                }
            }
            .countProjects
            {
                display: flex;
                width: 33.5%;
                // background-color: red;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .countCopitions
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 33.5%;
                // background-color: antiquewhite;
            }
            .countEvents
            {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 33.5%;
                // background-color: yellow;
            }
            .title
            {
                font-weight: bold;
            }
            .conainerLevel
            {
                margin-top: 10px;
                display: flex;
                @media(max-width: 480px)
                {
                    margin-left: 10px;
                }
                .icon
                {
                    margin-left: 1px;
                    font-size: 20px;
                    margin-top: 15px;
                    color: $pColorR;
                }
                p
                {
                    font-weight: bold;
                    margin-left: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }
   
}
@mixin style-button {
    width: 25px;
        height: 25px;
        background-color: #e5e5e5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
        border: 0.5px solid rgba(0, 0, 0, 0.531);
        cursor: pointer;
        transition: 0.5s all;
  }
.chooseNumber
{
    width: 100%;
    height: 100px;
    // background-color: red;
    
    
    display: flex;
    justify-content: center;
    // align-items: center;
    .button
    {
       @include style-button;
    }
    .button:hover
    {
        background-color: #d9d9d9;
    }
    .buttonActive
    {
        @include style-button;
        background-color: $pColor1;
        color: white;
    }
    .lastButton
    {
       @include style-button;
       margin-left: 2px;
    }
    .lastButton:hover
    {
        background-color: #d9d9d9;
    }
    .nextButton
    {
       @include style-button;
       margin-left: 7px;
    }
    .nextButton:hover
    {
        background-color: #d9d9d9;
    }
    .beforeButton
    {
       @include style-button;
       margin-right: 5px;
    }
}