@import "./global.module.scss";
@import 'mathsass';



.underResultTrue
{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.underResultFalse
{
    display: none;
}
.container
{
    // background-color: red;
    height: 65px;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    -webkit-tap-highlight-color: transparent;
    background-color: white;
    position: fixed;
    z-index: 2  ;
    // border: 1px solid black;
    .search
    {
        border: none;
        width: 70%;
        font-size: 16px;
        font-family: $myfont;
        color: $placehlder;
        @media (max-width: 768px)
        {
            width: 50%;
        }
        @media (max-width: 400px)
        {
            width: 40%;
        }
        &:focus
        {
            outline: none;
        }
        &::-webkit-search-cancel-button
        {
            display: none;
        }
    }
    .iconSearsh
    {
        width: 100px;
        font-size: 35px;
        @include flexCenter-styles;
        color: $placehlder;
    }
    .user
    {
        @include flexCenter-styles;
        // background-color: red;
        width: 30%;
        @media (max-width: 935px)
        {
            width: 40%;
            // padding-right: 20px;
        }
        @media (max-width: 768px)
        {
            width: 40%;
           
            // padding-right: 20px;
        }
        @media (max-width: 540px)
        {
            width: 75%;
        }
        @media (max-width: 400px)
        {
            width: 80%;
        }
        // height: 100px;
        .name
        {
            width: 30%;
            font-family: $myfont;
            display: flex;
            justify-content: end;
            padding-right: 50px;
            // background-color: white;
            // text-align: center;
            // background-color: blueviolet;
            // word-break: break-all;
            // @include flexCenter-styles;
            @media (max-width: 1250px)
            {
                width: 20%;
                padding-right: 20px;
            }
            @media (max-width: 768px)
            {
                width: 100%;
                justify-content: center;
            }
            @media (max-width: 650px)
            {
                justify-content: center;
            }
            @media (max-width: 320px)
            {
                font-size: 15px;
            }
            @media (max-width: 270px)
            {
                font-size: 12px;
            }
            @media (max-width: 236px)
            {
                word-break: break-all;
                font-size: 9px;
                // display: none;
            }
        }
        .photo
        {
            // width: 20%;
            @include flexCenter-styles;
            // background-color: yellow;
            justify-content: end;
            // justify-content: flex-start;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.25);
            }
            @media (max-width: 768px)
            {
                display: none;
            }
        }
    }
   
}
.result
{
    width: 70%;
    font-family: $myfont;
    min-height: 50px;
    background-color: $pColor1;
    position: absolute;
    top: 80px;
    left: 150px;
    z-index: 11;
    padding-top: 15px;
    
    position: fixed;
    // padding-left: 20px;
    transition: 0.2s ease-in-out;
    @media (max-width:1000px)
    {
        width: 65%;
        padding-left: 10px;
        padding-right: 10px;
    }
    @media (max-width:768px)
    {
        width: 65%;
    }
    @media (max-width:666px)
    {
        width: 60%;
    }
    @media (max-width:570px)
    {
        left: 25%;
       
    }
    @media (max-width:370px)
    {
        width: 80%;
        left: 7%;
    }
    .containerEachRsult
    {
        width: 97%;
        min-height: 40px;
        background-color: #2a2d38;
        // background-color: red;
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 15px;
        display: flex;  
        // transition: 2s all;
        &:hover
        {
            background-color: #353947;
        }
        .containerImgResult
        {
            // background-color: yellow;
            // border: 1px solid beige;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
            img
            {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .containerFirstName
        {
            // background-color: brown;
            padding-left: 10px;
            color: white;
        }
    }
    .noResult{
        padding-left: 20px;
    }
}
.result2
{
    // transition: 0.5  s all;
    position: absolute;
    visibility: hidden;
}